@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Noto+Serif:ital@1&display=swap');

body {
    font-family: cormorant, noto-serif;
    background-color: aqua;
}



#question-el {
    width: 90%;
    height: 40px;
    margin: 30px;
    margin-left: 5%;
    background-color: azure;
}

#checktrue-btn, #checkfalse-btn {
    height: 40px;
    width: 40px;
    margin-left: 5%;
}

#startgame-btn {
    height: 45px;
    width: 240px;
    margin: 30px;
    margin-top: 15%;
    margin-left: 5%;
    font-size: x-large;
}

#nextQ-btn {
    height: 45px;
    width: 240px;
    margin: 30px;
    margin-top: 15%;
    margin-left: 5%;
    font-size: x-large;
}

#scorebox-el {
    height: 45px;
    width: 240px;
    background-color: azure;
    margin: 30px;
    margin-top: 1%;
    margin-left: 5%;
    font-size: xx-large;
}

#error {
    text-align: center;
    font-size: larger;
}